.header-wrapper {
  background-color: inherit;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 1;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.chats-body {
  padding: 10px 0;
  padding-top: 100px;
}

.chats-body .status-bar,
.chats-body .header,
.chat .chat__messages {
  padding: 0 20px;
}

.chat-screen {
  background-image: url('../images/chatBg.png');
  height: 1000vh;
}

.chat__write-container {
  position: fixed;
  bottom: 0px;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfcfc;
  padding: 0 20px;

  /* box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025); */
}

.chat__write {
  bottom: 0;
  width: 100%;
  border-radius: 0;
  padding: 20px 60px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
}

.chat__icon-left {
  position: absolute;
}

.chat__icon-right {
  position: absolute;
  right: 10px;
}

.chat__icon {
  font-size: 18px;
  transition: opacity 0.3s ease-in-out;
}

.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

.chat__write i {
  font-size: 22px;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat__write-column input {
}

.chat-screen .chat__messages {
  border-top: 1px solid #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  padding-top: 30px;
}

.chat__messages .chat__timestamp {
  background-color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  text-transform: uppercase;
  font-weight: 600;
}

.message {
  display: flex;
  align-items: flex-start;
}

.chat__messages .incoming-message {
  align-self: flex-start;
  margin-bottom: 30px;
}

.chat__messages .sent-message {
  align-self: flex-end;
  margin-bottom: 20px;
}

.incoming-message .message__avatar {
  width: 30px;
  height: 30px;
  border-radius: 40%;
  margin-right: 15px;
}

.incoming-message .message__timestamp,
.sent-message .message__timestamp {
  align-self: flex-end;
  font-size: 10px;
  opacity: 0.6;
  margin: 0 5px;
}

.message .message__bubble {
  background-color: white;
  padding: 6px 12px;
  border-radius: 10px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  color: white;
  font-weight: 400;
  display: block;
}

.incoming-message .message__author {
  margin-bottom: 10px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}

.incoming-message .message__bubble {
  border-top-left-radius: 0;
  background-image: linear-gradient(to right, #ba5370, #f4e2d8);
}

.sent-message .message__bubble {
  border-top-right-radius: 0;
  background-image: linear-gradient(to left, #4ca1af, #c4e0e5);
}
